*~
*.egg
*.py[oc]
*.sw[opqr]
.coverage
.tox/
/nosetests.xml
/env26/
/env25/
/env24/
/env27/
/env32/
/jyenv/
/pypyenv/
/build/
/dist/
/translationstring.egg-info
/translationstring/coverage.xml

/.Python
/bin
/include
/lib
/pyvenv.cfg

/coverage.xml
